<?php $manufacturerPrinter = $this->getManufacturerPrinter(); ?>
<?php echo $this->getStyles(); ?>
<div id='randmar-locator' class='main-randmar-locator' siteurl='<?php echo $this->getBaseUrl() ?>'>
<div id='printer-info'>
    <div id='printer-pic'>
        <img class='img-printer' style='max-width: 150px;' id='printer-<?php echo $manufacturerPrinter->Id ?>' src='<?php echo $manufacturerPrinter->Picture ?>' alt='<?php echo $manufacturerPrinter->Title ?>'>
        </div><!-- printer-pic -->

    <div id='printer-name'>
        <div id='printer-name-contents'>
            <font class='bolder underline black'><?php echo $manufacturerPrinter->Title ?></font>
            <br/>&nbsp<br/>
            </div><!-- printer-name-contents -->

       </div><!-- printer-name -->

    <div id='printer-properties'>
        <?php if(!is_null($manufacturerPrinter->Color)) : ?>
            <?php echo $manufacturerPrinter->Color; ?>
            <br>
        <?php endif; ?>
        <?php
        if(!is_null($manufacturerPrinter->Technology)) : ?>
            <?php echo $manufacturerPrinter->Technology; ?>
            <br>
        <?php endif;
        ?>
        <?php if(!is_null($manufacturerPrinter->Color)) : ?>
            <img style="width: 20%" src="<?php echo $this->getSkinUrl('images/' . $manufacturerPrinter->IconColor) ?>" alt="<?php echo $manufacturerPrinter->Color; ?>">
        <?php endif;
        ?>

        <?php
        if(!is_null($manufacturerPrinter->Technology)) : ?>
            <img style="width: 20%" src="<?php echo $this->getSkinUrl('images/' . $manufacturerPrinter->IconTechnology) ?>" alt="<?php echo $manufacturerPrinter->Technology; ?>">
        <?php endif;
        ?>
        <?php if($manufacturerPrinter->Fax) : ?>
            <img style="width: 20%" src="<?php echo $this->getSkinUrl('images/' . $manufacturerPrinter->IconFax) ?>" alt="<?php echo $manufacturerPrinter->Fax; ?>">
        <?php endif; ?>

        <?php if($manufacturerPrinter->Scan) : ?>
            <img style="width: 20%" src="<?php echo $this->getSkinUrl('images/' . $manufacturerPrinter->IconScan) ?>" alt="<?php echo $manufacturerPrinter->Scan; ?>">
        <?php endif; ?>

        <?php if($manufacturerPrinter->Copy) : ?>
            <img style="width: 20%" src="<?php echo $this->getSkinUrl('images/' . $manufacturerPrinter->IconCopy) ?>" alt="<?php echo $manufacturerPrinter->Copy; ?>">
        <?php endif; ?>

        </div><!-- printer-properties -->

        <div id='printer-count'>

            <?php
        if($manufacturerPrinter->NetworkWireless) : ?>
            <img style="width: 20%" src="<?php echo $this->getSkinUrl('images/' . $manufacturerPrinter->IconNetworkWireless) ?>" alt="<?php echo $manufacturerPrinter->NetworkWireless; ?>">
        <?php endif ?>

        <?php if($manufacturerPrinter->NetworkWired) : ?>
      <img style="width: 20%" src="<?php echo $this->getSkinUrl('images/' . $manufacturerPrinter->IconNetworkWired) ?>" alt="<?php echo $manufacturerPrinter->NetworkWired; ?>">
        <?php endif ?>

        <?php if($manufacturerPrinter->Duplex) : ?>
            <img style="width: 20%" src="<?php echo $this->getSkinUrl('images/' . $manufacturerPrinter->IconDuplex) ?>" alt="<?php echo $manufacturerPrinter->Duplex; ?>">
        <?php endif  ?>
</div><!-- printer-count -->

</div><!-- printer-info -->

<br/>