/*#sidebar { display: none; }*/
#ranmdmar-locator {
	width: 100%;
}
.locator-buttons-container {
	min-height: 40px;
	width: 100%;
}
#my-header .header-contact {
	margin-left: 15%;
}
#my-header .locator-buttons-container {
	min-height: 0px;
}
#my-header .drop { 
	background-color: #FFF; 
	margin: 5px 10px 0px 10%; 
}
#my-header .pink-button { 
	line-height: 20px;
	margin: 5px 0px 0px 0px; 
	font-weight: normal;
	max-width: none;
}
.printer-select {
	margin: 0px 0px 25px 75px;
	font-size: 1.5em;
	height: auto;
	width: 80%;
}
.cartridge-number{
	margin: 0px 0px 25px 75px;
	font-size: 1.5em;
	width: 90%;
	display: none;	
}
.pgtech-button {
    font-family: 'aller';
    font-weight: bold;
    font-size: 22px;
    text-align: center;
    color: #ffffff;
    max-width: 320px;
    padding: 5px 15px;
    margin: 0px 5px;
    border-radius: 22px;
    cursor: pointer;
}
.pink-button {
	background-color: #d20072;
}
.blue-button {
	background-color: #0092d5;	
}
.yellow-button {
	background-color: #f4e801;
	color: #000;
}
.black-button {
	background-color: black;
    font-family: 'aller';
    font-weight: bold;
    font-size: 22px;
    text-align: center;
    color: #ffffff;
    padding: 10px 25px;
    cursor: pointer;
    width: 30%;
}
.drop {
	background-image: url('../assets/imgs/drop.png');
	background-size: cover;
	height: 30px;
	width: 30px;
	margin-right: 15px;
}
/***	Hide Logo	***/
#randmar-locator > .locator-buttons-container > .drop,
#randmar-locator > .locator-buttons-container > .pink-button {
	display: none;
}

.black-circle {
	color: white;
	background: black;
	text-align: center;
	border-radius: 30px;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	height: 30px;
	width: 30px;
	font-size: 1.5em;
	margin: 5px 10px 5px 35px;
}
.blue-circle {
    color: white;
    background: #0092d5;
    text-align: center;
    border-radius: 30px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 10px;
    height: 20px;
    width: 20px;
    font-size: 0.7em;
    position: relative;
    top: -23px;
    left: 17px;
}
.arrow {
	cursor: pointer;
}
.printer-brands{
    padding-top: 40px;
    width: 100%;
    overflow: hidden;
    height: 110px;	
}
.logos-container {
	float: left;
    overflow: hidden;
    height: 61px;
    width: 90%;
}
.brands {
	cursor: pointer;
}
.brands.selected {
	background-color: #FDF100;
}
.brands:hover {
	background-color: #fdf084;
}
.brands-logo.Canon {
	height: 65%;
}
.brands-logo.Xerox {
	height: 75%;
}
.cartridge-result {
	width: 100%;
	margin: 15px 0px;
}
.floating-div {
	display: inline-block;
}
.cartridge-pic {
	width: 20%;
	text-align: center;
}
.catridge-info {
	width: 35%;
	vertical-align: top;
	padding-left: 15px;
}
.quantity-section {
	width: 23%;
	vertical-align: top;
}
.cart-section {
	width: 20%;
	vertical-align: top;
}
.catridge-title {
	color: #0A7BC7;
	font-size: 1.25em;
	font-weight: bold;
}
.catridge-data {
	/* color: #000; */
	font-size: 1em;
}
.catridge-info ul {
	padding: 0px 0px 0px 15px !important;
}
.catridge-info li {
	display: list-item;
	margin-left: 15px;
}
.quantity-input {
	line-height: 1.9em;
	font-size: 1.5em;
	color: #FFF;
	text-align: center;
	width: 95%;
	background-color: #C1C1C1;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	margin-top: 10px;
	margin-bottom: 10px;
}
.price {
	color: #BF000A;
	font-size: 1.5em;
	text-align: center;
}
.price-below-data {
	color: #848484;
	font-size: 0.75em;
    line-height: 2em;
    font-weight: bolder;
}
.add-button {
	text-align: center;
	font-size: 1.5em;
	color: #258DEC;
	padding: 10px 25px;
	border-style: solid;
	border-color: #258DEC;
	border-width: 2px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	cursor: pointer;
}
.stock-title {
	font-weight: bold;
}
.stock-info table {
	border-style: none !important;
	margin: 0px !important;
}
.stock-info table td {
	border-style: none !important;
	padding: 0px !important;
}
.cartridge-result-rule {
	border-width: 1px;
	border-style: solid;
	border-color: #1589c6;
	width: 100%;
}
.no-results {
	font-size: 2em;
	font-weight: bold;
	text-align: center;
}
.same-row-left {
	float: left;
}
.same-row-right {
	float: right;
}
.end-row {
	clear: both;
	width: 0px;
}
.font-20 {
	font-size: 20px;
}
.font-22 {
	font-size: 22px;
}
.font-24 {
	font-size: 24px;
}
.font-26 {
	font-size: 26px;
}
.line-40 {
	line-height: 40px;
}
.bold {
	font-weight: bold;
}
.bolder {
	font-weight: bolder;
}
.black {
	color: black;
}

.loading {
	/*margin: 15% auto;*/
    width: 100px;
}
.loading img {
	width: 100px;
}
.overlay {
    width: 100%;
    height: 0;
    position: absolute;
    z-index: 1; /* Sit on top */
    background-color: rgb(0,0,0); /* Black fallback color */
    background-color: rgba(0,0,0, 0.75); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    overflow-y: hidden;
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

.pgtech-popup {
    font-family: 'aller';
    font-weight: normal;
    font-size: 22px;
    text-align: center;
    color: #ffffff;
    max-width: 320px;
    padding: 5px 15px;
    margin: 0px 5px;
    border-radius: 22px;
    background-color: #29B87E;
    display: none;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

/*	Fix woocommerce styles */
/*  This should be moved to a css file in theme folder */
.woocommerce-page .header-contact .icon,
.woocommerce-page .footer-contact .icon {
	height: 11px;
}

.woocommerce-page .header-language .flag {
	height: 20px;
}

.woocommerce-page .footer-social .social {
	height: 25px;
}

.wc_payment_method > label {
	background-color: #00A5E6;
    font-family: 'aller';
    font-weight: bold;
    font-size: 22px;
    text-align: center;
    color: #FFF;
    max-width: 320px;
    padding: 5px 15px;
    margin: 0px 5px;
    border-radius: 22px;
    cursor: pointer;
}

.payment_method_paypal > label > img {
	max-height: 30px !important;
}

ul.woocommerce-error {
	display: block;
}

#other-shipping-addr {
	display: inline-block;
}